.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.button__newsletter-modal-form-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px 24px 12px 24px;
  justify-content: center;
  align-items: center;
  width: 160px;
  border-width: 1px;
  border-color: #e5e7eb;
  border-style: solid;
  border-radius: 999px;
  background: var(--color-accent);
}

.button__newsletter-modal-form-button-text {
  font-family: Inter, system-ui, '-apple-system', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  color: var(--color-surface);
}
